@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#about-me, #formation, #portfolio, #contact {
    scroll-margin-top: 20px; /* Ajuste conforme a altura do seu header */
}

:root{
/* === COLORS === */
    --primary-color: #3965d9;
    --secondary-color: #351f35;
    --terciary-color: #c36441;
    --back-color: #F8F9FA;
    --text-color: #000000;
    --white-color: #FFFFFF;

/* === FONT === */
    --title-font: "Cinzel", serif;
    --text-font: "Montserrat", sans-serif;
}

h1, h2{
    font-family: var(--title-font);
    font-weight: 500;
}

p{
    font-family: var(--text-font);
}

/* === BODY === */
body{
    background-color: var(--back-color);
}

/*-- HEADER --*/

header{
    background-color: var(--back-color);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30%;
    margin: 0 auto;
}

header a{
    text-decoration: none;
    color: black;
}

.header-title{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: var(--fonte-titulo);
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 40px;
}

.nav-list li a{
    font-family: "Montserrat", sans-serif;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
}

/*-- MAIN --*/

#about-me{
    width: 70%;
    margin: auto;
}

#about-me h1{
    font-size: 60px;
    margin-top: 60px;
}

.apresentation{
    margin-top: 30px;
}

.apresentation p{
    text-indent: 20px;
    margin-top: 10px;
    font-size: 20px;
}

/*-- FORMATION --*/

#formation{
    width: 70%;
    margin: auto;
    background-color: var(--back-color);
}

#formation h1{
    font-size: 50px;
    margin-top: 70px;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 40px auto;
}

.container{
    padding: 5px 10px;
    position: relative;
    width: 50%; 
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }   
}

.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}.container:nth-child(5){
    animation-delay: 4s;
}

.text-box{
    padding: 20px 30px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--back-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }

    100%{
        height: 100%;
    }
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid red;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid red;
    left: -15px;
}

/*-- PROJECTS --*/
#portfolio{
    width: 70%;
    margin: auto;
    background-color: var(--back-color);
    transition: all 0.3s ease;
}

#portfolio h1{
    font-size: 50px;
}

.container-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--back-color);
    margin-top: 30px;
    gap: 30px;
}

.container-projects{
    flex: 1 1 calc(50% - 30px);
    max-width: calc(50% - 30px);
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-projects img{
    width: 100%; 
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/*-- FORM --*/

#contact{
    width: 70%;
    margin: auto;
    padding: 10px;
    background-color: var(--back-color);
    transition: all 0.3s ease;
    margin-top: 50px;
}

#contact h1{
    font-size: 50px;
}

#contact p{
    margin-top: 30px;
    font-size: 20px;
}

#form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: aquamarine;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: #c36441;
}

.full {
    grid-column: 1 / -1;
}

#assunto {
    grid-column: span 2;
    background-color: rgb(94, 105, 114);
}

.input-container:nth-child(3) {
    grid-column: span 2;
    background-color: rgb(133, 173, 206);
}

.input-container:nth-child(4) {
    grid-column: span 2;
    background-color: rgb(56, 76, 92);
}

#enviar {
    grid-column: 1 / -1;
}


@media (max-width: 800px){

    .menu-toggle{
        display: block;
        cursor: pointer;
    }

    .nav-list{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        padding: 20px;
        height: 100vw;
        backdrop-filter: blur(10px);
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }

    .nav-list li{
        margin-bottom: 25px;
    }

    .nav-list.active{
        display: flex;
    }
}

@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }    
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid white;
        border-left: 0;
        left: -15px;
    }
}

@media (max-width: 900px){
    .container-all{
        gap: 20px;
    }
    
    .container-projects{
        flex: 0 1 100%;
        max-width: 350px; 
        padding: 15px;
    }
    
    .container-projects h2{
        font-size: 16px;
    }
    
    .container-projects p{
        font-size: 13px;
    }
}

@media (max-width: 500px){
   #form {
    grid-template-columns: 1fr;
}
}